---
import "../../styles/globals.css";
import ModelLayout from "@/layouts/modelLayout";
import { WavePlanterMesh, DEFAULT_PROPS, MODEL_NAME } from "@/models/waveplanter";
import * as React from "react";

const renderWave = (values: any, ref: any) =>
  React.createElement(WavePlanterMesh, { props: values, meshRef: ref });
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wave Planter</title>
  </head>
  <body>
    <ModelLayout
      client:load
      name={MODEL_NAME}
      defaultValues={DEFAULT_PROPS}
      camera={[0, -400, 300]}
      orbitDistance={500}
      render={renderWave}
    />
  </body>
</html>
