---
import "../../styles/globals.css";
import ModelLayout from "@/layouts/modelLayout";
import { CylinderMesh, DEFAULT_PROPS, MODEL_NAME } from "@/models/cylinder";
import * as React from "react";

const renderCylinder = (values: any, ref: any) =>
  React.createElement(CylinderMesh, { props: values, meshRef: ref });
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cylinder</title>
  </head>
  <body>
    <ModelLayout
      client:load
      name={MODEL_NAME}
      defaultValues={DEFAULT_PROPS}
      render={renderCylinder}
    />
  </body>
</html>
