---
import "../../styles/globals.css";
import ModelLayout from "@/layouts/modelLayout";
import { CylinderMesh, DEFAULT_PROPS, MODEL_NAME, type CylinderProps } from "@/models/cylinder";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cylinder</title>
  </head>
  <body>
    <ModelLayout
      client:load
      name={MODEL_NAME}
      defaultValues={DEFAULT_PROPS}
      render={(values, ref) => <CylinderMesh props={values as CylinderProps} meshRef={ref} />}
    />
  </body>
</html>
