---
import "../../styles/globals.css";
import SidebarLayout from "@/layouts/sidebarLayout";

const breadcrumbItems = [
  { id: 0, title: "Home", href: "/" },
  { id: 1, title: "General Shapes" },
];
---
<SidebarLayout client:load header={breadcrumbItems}>
  <p>General Shapes</p>
</SidebarLayout>
