---
import "../../styles/globals.css";
import AppLayout from "@/layouts/appLayout";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>General Shapes</title>
  </head>
  <body>
    <AppLayout client:load>
      <p>General Shapes</p>
    </AppLayout>
  </body>
</html>
