---
import PageLayout from "@/layouts/pageLayout.astro";
import AppLayout from "@/layouts/appLayout";
---
<PageLayout title="Tools">
  <AppLayout client:idle>
    <p>Home page</p>
  </AppLayout>
</PageLayout>
