---
import "../styles/globals.css";
import SidebarLayout from "@/layouts/sidebarLayout";

const breadcrumbItems = [{ title: "Home" }];
---
<SidebarLayout client:load header={breadcrumbItems}>
  <p>Home page</p>
</SidebarLayout>
